

<div class="row">
  <div class="col-md-auto text-center perfil">
      <img class="img-thumbnail img-thumb" src="assets/images/photo-perfil.jpg" alt="">
      <div class="mt-3">
        <h2>Cristian Basualdo</h2>
        <h5>Full Stack Developer Jr.</h5>
      </div>
      
  </div>
  <div class="col about">
      <h1 class="mb-4">Acerca de...</h1>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, officia minima corporis quae quis 
         eos blanditiis adipisci sed harum natus magni earum aliquam perferendis sint iusto sit. Ullam, perferendis aperiam!
      </p>
  </div>
  <hr>
</div>  