<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="" width="114" class="d-inline-block align-text-bottom">
            #YoProgramo
        </a>

        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fa-brands fa-facebook" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fa-brands fa-instagram" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fa-brands fa-twitter" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fa" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>