.img-container {
    background-image: url("src\assets\images\banner2.jpg");
    height: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}